.container
  = link_to 'https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=758rlot27c5c8k&scope=r_fullprofile+r_contactinfo&state=DCEEFWF45453sdffef424&redirect_uri=http://localhost:3000' do
    %i.fa.fa-linkedin{style: "font-size: 32px;"}
  = link_to '/auth/facebook' do
    %i.fa.fa-facebook-square{style: "font-size: 32px;"}
  %br
  - if @fb_profile && @positions
    .row
      .col-md-3
        = image_tag @fb_profile.get_picture("me", {type: 'large'}), class: 'img-circle'
      .col-md-9
        %b Name:
        = @fb_profile.get_object("me")["name"]
        %br
        %b Birthday:
        = @fb_profile.get_object("me")["birthday"]
        %br
        %b Facebook Page:
        = link_to @fb_profile.get_object("me")["link"], @fb_profile.get_object("me")["link"], target: '_blank'
        %br
        %b Summary:
        %br
        = @li_profile["person"]["summary"]
        %br
        %br
        %br
        = link_to 'more info', linked_in_fb_log_path, class: 'btn btn-primary pull-right', remote: true
    = render 'page1'